
body {
    margin: 0;
    color: blue;
   

}

.boards{
    height: 100vh;
   

    display: flex;
    justify-content: space-around;
    align-content: center;

    padding: 25px;

 
}

.board_one {
    height: 500px;
    width: 500px;

    padding: 0;
    border: 0.5px solid red;
    background-color: rgb(237, 237, 250);
    display: grid;
    grid-template-rows: repeat(10, 10%);
    


}

.board_two {
    height: 500px;
    width: 500px;
    
    border: 1px solid rgb(175, 112, 30);
    background-color: rgb(237, 237, 250);
    display: grid;
    grid-template-rows: repeat(10, 10%);
}

.rows {

    display: grid;
    grid-template-columns: repeat(10, 10%);
    padding: 0;
    margin: 0px;

}

.cols {
    border: 1px solid black;
   
    padding: 0;
    margin: 0px;


}

.rows_two {

    display: grid;
    grid-template-columns: repeat(10, 10%);

}

.cols_two {
    border: 1px solid black;
    text-align: center;


}


#carrier{
    background-color: #4AAE9B;
  
    height: 50px;
    width: 250px;
    padding: 0;
    
    margin: 0 0;
}

#carrier, #battleship, #cruiser, #submarine, #destroyer > div{
    background-color: blue;
    padding: 5px;
}



#battleship {
    background-color: #54d419;

    height: 50px;
    width: 200px;
    padding: 0;
    margin: 0 0;
}


#cruiser {
    background-color: red;
  
    height: 50px;
    width: 150px;
    padding: 0;
    margin: 0 0;
}


#submarine {
    background-color: pink;

    height: 50px;
    width: 150px;
    padding: 0;
    margin: 0 0;
}


#destroyer {
    background-color: orange;
 
    height: 50px;
    width: 100px;
    padding: 0;
    margin: 0 0;
}



.dock {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    
}

.status {
    text-align: center;
}