
body {
    margin: 0;
    padding: 0;
   

}

.title {
    padding: 45px;
    background-color: #717568;
    
    color: white;
    font-size: 3rem;
    text-align: center;
}

.boards{
    padding: 30px;

    display: flex;
    justify-content: space-around;
    align-content: center;

 
}

.board_one {
    height: 500px;
    width: 500px;

    padding: 0;
   
    background-color: white;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    


}

.board_two {
    height: 500px;
    width: 500px;
    
    
    background-color: white;
    display: grid;
    grid-template-rows: repeat(10, 10%);
}

.rows {

    display: grid;
    grid-template-columns: repeat(10, 10%);
    padding: 0;
    margin: 0px;

}

.cols {
    border: 1px solid black;
    
    padding: 0;
    margin: 0px;
    border-radius: 25%;


}


.rows_two {

    display: grid;
    grid-template-columns: repeat(10, 10%);

}

.cols_two {
    border: 1px solid black;
    text-align: center;
    border-radius: 25%;


}

.cols_two:hover {
    border: 1px solid #87a743;
}

.cols:hover {
    border: 1px solid #87a743;
}

#carrier{
    background-color: #4AAE9B;
  
    height: 50px;
    width: 250px;
    padding: 0;
    
    margin: 0 0;

    border-radius: 25%;
}


#battleship {
    background-color: #54d419;

    height: 50px;
    width: 200px;
    padding: 0;
    margin: 0 0;
    border-radius: 25%;
}


#cruiser {
    background-color: red;
  
    height: 50px;
    width: 150px;
    padding: 0;
    margin: 0 0;
    border-radius: 25%;
}


#submarine {
    background-color: pink;

    height: 50px;
    width: 150px;
    padding: 0;
    margin: 0 0;
    border-radius: 25%;
}


#destroyer {
    background-color: orange;
 
    height: 50px;
    width: 100px;
    padding: 0;
    margin: 0 0;
    border-radius: 25%;
}

.carrier-block {
    background-color: #4AAE9B;
    border-radius: 25%;
}

.battleship-block {
    background-color: #54d419;
    border-radius: 25%;
}

.cruiser-block {
    background-color: red;
    border-radius: 25%;
}

.submarine-block {
    background-color: pink;
    border-radius: 25%;
}

.destroyer-block {
    background-color: orange;
    border-radius: 25%;
}



.dock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border: 1px solid black;

    
}

.status {
    padding: 15px;
    background-color: #717568;
    color: white;
    text-align: center;
    font-size: 1.5em;

}
